<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis映射文件-->
<mapper namespace="com.fan.mybatisStudy.dao.UserMapper">

    <!--抽取sql语句-->
    <sql id="selectUser">
        select * from user
    </sql>

    <select id="findAll" resultType="user">
        <include refid="selectUser"></include>
    </select>

    <select id="findById" resultType="user" parameterType="int">
        <include refid="selectUser"></include> where id=#{id}
    </select>

    <select id="findByCondition" resultType="user" parameterType="user">
        <include refid="selectUser"></include>
        <where>
            <if test="id!=0">
                and id=#{id}
            </if>
            <if test="username!=null">
                and username=#{username}
            </if>
            <if test="password!=null">
                and password=#{password}
            </if>
        </where>
    </select>

    <select id="findByIds" resultType="user" parameterType="list">
        <include refid="selectUser"></include>
        <where>
            <foreach collection="list" open="id in (" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>
    
<!--    <insert id="saveUser" parameterType="user">-->
<!--        insert into user values(#{id}, #{username}, #{password})-->
<!--    </insert>-->
<!--    -->
<!--    <update id="update" parameterType="user">-->
<!--        update user set username=#{username}, password=#{password} where id=#{id}-->
<!--    </update>-->

<!--    <delete id="deleteUser" parameterType="int">-->
<!--        &lt;!&ndash;这里指传进来一个参数, 下面的#{}里面可以随便写参数名&ndash;&gt;-->
<!--        delete from user where id=#{id}-->
<!--    </delete>-->
</mapper>