<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mybatis映射文件-->
<mapper namespace="com.fan.spring_mybatis.mapper.UserMapper">

    <!--抽取sql语句-->
    <sql id="selectUser">
        select * from user
    </sql>

    <select id="findAll" resultType="user">
        <include refid="selectUser"></include>
    </select>
</mapper>